/*
Pomidoro App
app.css

created by @sauliuz
PopularOwl Labs // www.popularowl.com
For tutorial on www.htmlcenter.com
*/


.slider {
  margin-bottom: 0;
  height: 150px;
}

.slider li img {
  width: 100%;
}

.form-wrapper {
  padding: 10px;
}


.movieimg {
  width: 365px;
  height: 282px;
}

.bar-title
{
	background: #248DC1;
	padding: 0;
	color: #eee;
	font-size: 14px;
	text-align: center;
	height: 50px;
	color: #fff;
	-webkit-box-shadow: rgba(111, 151, 182, 0.498039) 0px 1px 0px 0px inset, rgba(111, 151, 182, 0.2) 0px -1px 0px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	-webkit-font-smoothing: antialiased;
	background-color: rgb(81, 127, 164);
	background-image: -webkit-linear-gradient(top, rgb(81, 127, 164), rgb(48, 96, 136));
	background-position: 50% 50%, 50% 50%;
	box-shadow: rgba(111, 151, 182, 0.498039) 0px 1px 0px 0px inset, rgba(111, 151, 182, 0.2) 0px -1px 0px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	color: #f2f2f2;
}
.bar-title .title{
	font-size: 24px;
}

#outerpost{
    max-width: 100%;
    margin: 60px 10px;
    padding: 10px;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
    color: #444;
}
#outerpost a{
    color:#248DC1;
}
#outerpost img{
    max-width: 100%;
}
#outerpost>div{
    margin: auto;
}
.postheader{
    padding: 8px 0px;
    text-align: left;
    width: 100%;
}
.postcaption{
    font-size:0.8em;text-align:justify;
    border-top: 1px solid #ccc;
    padding:8px 0 0 0;
}
#outerpost .stats{
    vertical-align: top;
    text-align: right;
    font-size: 0.7em;
    line-height: 20px;
}