<!--
// Pomidoro Mobile Application
// RootControllerView.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com 
// for more mobile application templates
-->

 <!--  <nav class="bar-standard bar-header-secondary">
    <form>
      <input type="search" placeholder="Search" ng-model="name">
    </form>
  </nav> -->

  <div class="content">
    <div style="width:100%;height:100%;" id="map_canvas">
    </div>
  </div>

  <div ng-show="showPhotoFromMap" photo-view></div>