<!--
// Pomidoro Mobile Application
// TheatersControllerView.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com 
// for more mobile application templates
-->
  <!-- <header class="bar-title">
    <a class="button-prev" href="#/">
      Back
    </a>
    <h1 class="title">Find a theater</h1>
  </header> -->
  <nav class="bar-standard bar-header-secondary">
    <form>
      <input type="search" placeholder="Search">
    </form>
  </nav>


  <div class="content">

    <ul class="list">
      <li class="list-divider">Theaters nearby</li>
      
      <li data-ng-repeat="theater in theaters">
        <a href="#">
          <strong>{{theater.name}}</strong>
          <p>{{theater.address}}</p>
        </a>
      </li>
    </ul>
  </div>